# Application
web/app/languages
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/buddyboss-platform-pro
!web/app/plugins/buddypages
web/app/plugins/buddypages/.git
!web/app/plugins/cbf-academy
!web/app/plugins/cbf-multisite
!web/app/plugins/conditional-profile-fields-for-buddypress
!web/app/plugins/ld-content-cloner
!web/app/plugins/learndash-hub
!web/app/plugins/learndash-zapier
!web/app/plugins/sfwd-lms
!web/app/plugins/woocommerce-give-products
!web/app/plugins/wp-all-import-pro
!web/app/plugins/wp-job-manager-alerts
!web/app/plugins/wp-job-manager-resumes
!web/app/plugins/wp-job-manager-stats
!web/app/plugins/wp-job-manager-wc-paid-listings
web/app/mu-plugins/*
web/app/themes/onepress/
web/app/themes/twentytwentythree/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
**/vendor/*
!vendor/.gitkeep

# WP-CLI
wp-cli.local.yml

# macOS
**/.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# SQL
*.sql

# PHPCS
.phpcs.cache

#NPM
node_modules

# MySQL
data

# Lando
.lando.local.yml
